{
  "extends": "eslint-config-airbnb-es5",
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  "rules": {
    "no-undefined": 0,
    "func-names": 0,
    "no-param-reassign": 0,
    "valid-jsdoc": 0
  }
}
