node_modules/*
!node_modules/latte
!node_modules/jison
!node_modules/lodash
.tmp/
bower_components/
coverage/
.sass-cache/
.idea/
.sublime-gulp.cache

web/dist
web/src/instant-bundle.js

latc
latc_x86_64
*.s
*.cpp
