<h4 class="ui header">
  {{name}}
  <a href="" style="float: right; font-weight: normal; color: #777;" ng-click="show = !show">
    <i ng-show="show" class="chevron up icon"></i>
    <i ng-hide="show" class="chevron down icon"></i>
    <span>
      toggle
    </span>
  </a>
</h4>
<hr>
<div ng-show="show">
  <div class="code" ng-if="string">
    <textarea
      ng-if="string"
      ui-codemirror="{}"
      ng-model="data"
      ui-codemirror-opts="editorOptions"
    ></textarea>
    <br>
  </div>
  <json-formatter
    ng-if="!string"
    json="data"
    open="1"
  ></json-formatter>
</div>
