<h5 class="ui top attached header">
  Debug
  <a href="" style="float: right; font-weight: normal; color: #777;" ng-click="show = !show">
    <i ng-show="show" class="chevron up icon"></i>
    <i ng-hide="show" class="chevron down icon"></i>
    <span>
      toggle
    </span>
  </a>
</h5>
<div class="ui attached segment" ng-show="show">
  <debug-area-section
    data="data.compiled.toString(true)"
    show="true"
    name="'Code'"
    string="true"
  ></debug-area-section>

  <debug-area-section
    data="data.compiled"
    show="true"
    name="'CodeBlock'"
  ></debug-area-section>

  <debug-area-section
    data="data.tree"
    show="true"
    name="'Tree'"
  ></debug-area-section>

  <debug-area-section
    data="data.state.rootScope"
    show="true"
    name="'RootScope'"
  ></debug-area-section>

  <debug-area-section
    data="data.error"
    show="true"
    name="'Error'"
  ></debug-area-section>
</div>
