<h5 class="ui top attached header">
  Debug
  <a href="" style="float: right; font-weight: normal; color: #777;" ng-click="showDebug = !showDebug">
    <i ng-show="showDebug" class="chevron up icon"></i>
    <i ng-hide="showDebug" class="chevron down icon"></i>
    <span>
      hide
    </span>
  </a>
</h5>
<div class="ui attached segment" ng-show="showDebug">
  <h4 class="ui header">tree</h4>
  <hr>
  <json-formatter json="data.tree" open="1"></json-formatter>

  <h4 class="ui header">rootScope</h4>
  <hr>
  <json-formatter json="data.rootScope" open="1"></json-formatter>

  <h4 class="ui header">optimized</h4>
  <hr>
  <json-formatter json="data.optimized" open="1"></json-formatter>

  <h4 class="ui header">compiled</h4>
  <hr>
  <json-formatter json="data.compiled" open="1"></json-formatter>

  <h4 class="ui header">Error</h4>
  <hr>
  <json-formatter json="data.error" open="1"></json-formatter>
</div>