/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

.ui.main.text.container {
  padding-top: 5em;
}

.editor > .CodeMirror {
  border-radius: 0.28571429rem;
  border: #CCC 1px solid;
}

.code > .CodeMirror {
  height: auto;
}

.error-text {
  border: 1px red solid;
  border-radius: 0.2rem;
}

.error-marker {
  padding-left: 5px;
  background-color: #FFF4F4;
  color: #EE95A1;
  border-top: 1px solid darken(#FFF4F4, 4%);
  border-bottom: 1px solid darken(#FFF4F4, 4%);
}

.code-area-wrapper {
  position: relative;
  .code {

  }

  .samples {
    position: absolute;
    left: 100%;
    right: auto;
    top: 0;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .samples-list {
    padding: .5rem;
    min-width: 300px;
    height: 350px;
    overflow-y: auto;
  }

  .options {
    position: absolute;
    right: 100%;
    left: auto;
    top: 0;
    width: 150px;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
}

.item-check {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: -25px;
  margin-top: 3px;
}

.ui.list .list > .item.checked.file a.header, .ui.list > .item.checked.file > a.header{
  color: #ccc !important;
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
